<h1>Games</h1>
<div>
  <div>
    <strong>White Games</strong><br>
  <% @white_games.each do |game| %>
      <div><%= link_to game.name, game_path(game) %><% if game.black_player %> vs <%=game.black_player.email %><% end %></div>
  <% end %>
  </div>
  <div>
    <strong>Black Games</strong><br>
  <% @black_games.each do |game| %>
    <div><%= link_to game.name, game_path(game) %> vs <%=game.white_player.email %></div>
  <% end %>
  </div>
  <div>
    <strong>Open Games</strong><br>
  <% @open_games.each do |game| %>
    <div><%= link_to game.name, game_path(game) %></div>
  <% end %>
  </div>
  <div>
    <%= button_to 'New Game', new_game_path, method: 'get' %>
  </div>
</div>
