<style type="text/css">
.light {
  background-color: gainsboro;
  display: inline-block;
  text-align: center;
  width: 46px;
}
.dark {
  background-color: darkgray;
  display: inline-block;
  text-align: center;
  width: 46px;
}
</style>

<h1>Game Details</h1>
<h3><%= @game.name %></h3>
<% if @game.white_player_id %>
  <div id='white-player'>White player: <%= @game.white_player.email %></div>
<% end %>
<% if @game.black_player_id %>
  <div id='black-player'>Black player: <%= @game.black_player.email %></div>
<% end %>
<% if @game.joinable?(current_player.id) %>
<%= button_to 'Join Game', game_path, method: 'patch', params: { cmd: 'join' } %>
<% end %>

<div id="board" data-id=<%=@game.id %>>
<%
  pieces = @game.pieces.active
  (0..7).each do |row_id|
%>
  <div class="">
<%
    (0..7).each do |col_id|
      p = pieces.select { |pp| pp.pos_x == col_id && pp.pos_y == row_id }.first
      if p
        ps = piece_html(p.type, p.player_id == @game.white_player_id)
        tip = p.type
        draggable = p.player_id == current_player.id
        html = ps.html_safe
      else
        html = '&nbsp;'.html_safe
      end
      styles = ['square']
      styles << (((row_id + col_id) % 2) == 0 ? 'light' : 'dark')
      styles << 'draggable' if draggable
      %><div class="<%=styles.join(' ') %>" <%="data-piece-id=#{p.id} draggable=true" if draggable %> data-x=<%=col_id %> data-y=<%=row_id%> ><%=html %></div><%
    end
%>
  </div>
<%
  end
%>
</div>
